html {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("../assets/moody.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    text-transform: uppercase;
    font-size: 3.7rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    color: #BA181B;
    margin-top: 3%;
}

#groupie {
    font-size: 4.2rem;
}

#title-container {
    text-align: center;
}

main {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../assets/music.png');
    background-size: auto 200%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar {
    border-radius: 15px;
    padding: 2% 3%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
    align-items: center;
    width: 60%;
    margin-top: 3%;
    justify-content: flex-end;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.searchbar form {
    display: flex;
    align-items: center;
}

.searchbar input[type="text"] {
    flex: 1;
}

i {
    color: #BA181B;
    font-size: 1.5rem;
}

form {
    text-align: center;
}

input[type="submit"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
    margin-bottom: 25%;
    padding: 12px 20px;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: linear-gradient(180deg, #161A1D 0%, #B1A7A6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    opacity: 0.4;
}

input[type="submit"]:hover {
    opacity: 1;
    background: linear-gradient(180deg, #A4161A 0%, #BA181B 100%);
    color: #F2F2F2;
    cursor: pointer;
}


table img {
    max-width: 100px;
    max-height: 100px;
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.artist-card {
    display: flex;
    position: relative;
    flex: 0 0 calc(20% - 10%);
    margin: 1% 1% 2% 1%;
    min-height: 150px;
    min-width: 150px;
    perspective: 1000px;

}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
}

.artist-card:hover .card-container {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.card-container .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.back {
    background-color: #F5F3F4;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 3%;
    justify-content: space-between;
}

.back h2 {
    margin-top: 20%;
    font-weight: 700;
    font-size: 1.2rem;
}

.info-link {
    text-transform: uppercase;
    background-color: #CCCCCC;
    border-radius: 15px;
    font-size: 0.7rem;
    padding: 5px 10px;
    font-weight: 600;
}

.info-link:hover {
    background-color: #a91416;
    color: #F2F2F2;
    cursor: pointer;
}

.artist-header {
    text-align: center;
    margin: 1% 0;
    color: #a91416;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.artist-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    padding: 2% 4%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.artist-content img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 4%;
}

table {
    text-align: left;
    width: 100%;
}

th {
    vertical-align: top;
    height: fit-content;
    font-weight: 600;
    text-transform: uppercase;
    color: #161A1D;
    padding-top: 2px;
}

tr {
    margin: 7px 0;
}

td {
    padding: 1% 0;
}

.basic-info {
    margin: 4% 2%;
}

#concert-table th {
    text-align: center;
}

#concerts {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #660708;
    padding-top: 5px;
    padding-bottom: 3%;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
}

#info {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #660708;
    padding-bottom: 3%;
}

#dates {
    text-align: center;
    padding-left: 5px;
}

.container h3 {
    background-color: #B1A7A6;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px 12px;
    border-radius: 15px;
    margin-top: 6%;
    opacity: 0.2;
}

.container h3:hover {
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(180deg, #A4161A 0%, #BA181B 100%);
    color: #F2F2F2;
}

.info-cell {
    padding-left: 5px;
    vertical-align: top;
    height: fit-content;
}

.fa-search:hover {
    cursor: pointer;
}

#filters-container {
    border-radius: 7px;
    color: black;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.4);

}

#filters-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}


#filters-container i {
    font-size: 100%;
}

#members_nr {
    border-radius: 5px;
    padding: 2% 3%;
    align-items: center;
    /* text-transform: uppercase; */
    font-weight: 500;
}

input[type="checkbox"]+label {
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    margin: 0 3px;
}

input[type="checkbox"]+label:hover {
    color: white;
}

input[type="checkbox"]:checked+label {
    color: #BA181B;
}

#apply_filters {
    margin: 0;
    align-items: center;
    padding: 12px 20px;
    border-radius: 25px;
    width: 100%;
    background: none;
    box-shadow: none;
}

#apply_filters:hover {
    color: #BA181B;
}

.sliders {
    margin: 0 3%;
    padding: 3%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sliders h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.slider {
    padding: 2%;
}

.hidden {
    display: none;
}
#locationSelect option {
    font-size: unset;
}
#locationSelect {
    border-radius: 5px;
    padding: 2% 3%;
}

#locationSelect:nth-child(1) {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

#locationSelect {
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    margin: 0 3px;
}
#locationSelect:hover {
    color: white;
}

#allSliders {
    display: flex;
    justify-content: space-between;
}

.black-text {
    color: black;
}

input[type="range"] {
    font-size: 1.5rem;
    width: 6.5em;
}

input[type="range"] {
    color: #BA181B;
    --thumb-height: 0.7em;
    --track-height: 0.1em;
    --track-color: rgba(0, 0, 0, 0.2);
    --brightness-hover: 130%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
    display: block;
}


input[type="range"].win10-thumb {
    color: #2b2d42;
    --thumb-height: 0.8em;
    --thumb-width: 0.4em;
    --clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #000;
    }

    html::before {
        background: radial-gradient(circle at center, #101112, #000);
    }

    input[type="range"] {
        color: #A4161A;
        --track-color: rgba(255, 255, 255, 0.1);
    }

    input[type="range"].win10-thumb {
        color: #A4161A;
    }
}

/* === range commons === */
input[type="range"] {
    position: relative;
    background: #fff0;
    overflow: hidden;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}


/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    position: relative;
}

input[type="range"]::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(100% -1px,
            var(--clip-edges) -1px,
            0 var(--clip-top),
            -100vmax var(--clip-top),
            -100vmax var(--clip-bottom),
            0 var(--clip-bottom),
            var(--clip-edges) 100%,
            var(--clip-further) var(--clip-further));
}

input[type="range"]:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
    background: #fff0;
}

input[type="range"]::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
    cursor: grabbing;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
    filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
    cursor: not-allowed;
}


.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #DDD;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    border-radius: 15px;
    padding: 2% 3%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 400px;
}

.collapsible-content .content-inner {
    border-radius: 7px;
    color: black;
    padding: 2%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.collapsible-content p {
    margin-bottom: 0;
}

/* === Edge specific style changes === */

@supports (-ms-ime-align: auto) {
    #locationSelect {
        background-color: grey;
    }
    h1 {
        background-color: black;
    }
}