<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="../assets/reset.css">
    <link rel="stylesheet" href="../assets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@600;800&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
</head>

<body id="artistpage">
    <div class="container">
        <h1 class="artist-header">{{.Name}}</h1>
        <div class="artist-content">
            <img src="{{.ImageURL}}" alt="{{.Name}}">

            <table class="basic-info">
                <tr>
                    <th colspan="2" id="info">info</th>
                </tr>
                <tr>
                    <th>Created</th>
                    <td class="info-cell">{{.Created}}</td>
                </tr>
                <tr>
                    <th>First Album</th>
                    <td class="info-cell">{{.Album}}</td>
                </tr>
                <tr>
                    <th>Members</th>
                    <td class="info-cell">{{range .Members}}{{.}}<br> {{end}}</td>
                </tr>
            </table>

            <table id="concert-table">
                <thead>
                    <tr>
                        <th colspan="2" id="concerts">Concerts</th>
                    </tr>
                    <!-- <tr>
                        <th>Location</th>
                        <th>Date</th>
                    </tr> -->
                    {{range $index, $element := .Locations}}
                    <tr>
                        <td>{{$element}}</td>
                        <td id="dates">{{index $.Dates $index}}</td>
                    </tr>
                    {{end}}
                </thead>
            </table>
            <h3><a href="/">Go back</a></h3>
        </div>
    </div>
</body>

</html>