<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="assets/reset.css">
    <link rel="stylesheet" href="assets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@600;800&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div class="main-content">
            <div id="title-container">
                <h1 id="groupie">Groupie Tracker</h1>
            </div>

            <div class="searchbar">
                <form action="/search" method="GET">
                    <input type="text" name="query" placeholder="" list="suggest">
                    <datalist id="suggest">
                        {{range .ArtistData}}
                        <option value="{{.FieldValue}}">{{.FieldName}}</option>
                        {{end}}
                    </datalist>
                    <button type="submit" formaction="/search"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="wrap-collabsible">
                <input id="collapsible3" class="toggle" type="checkbox">
                <label for="collapsible3" class="lbl-toggle" tabindex="0">Filters</label>
                <div class="collapsible-content">
                    <div class="content-inner">

                        <div id="filters-container">
                            <form id="filters-form" action="/search" method="POST">


                                <div id="allSliders">

                                    <div class="sliders">
                                        <h3>Creation Date</h3>
                                        <div class="slider">
                                            <i class="black-text">from </i>
                                            <i id="minStartYear">1958</i>
                                            <input type="range" min="1958" max="2018" value="1958" name="minStart"
                                                id="minYearSlider">
                                        </div>
                                        <div class="slider">
                                            <i class="black-text">to </i>
                                            <i id="maxStartYear">2018</i>
                                            <input type="range" min="1958" max="2018" value="2018" name="maxStart"
                                                id="maxYearSlider">
                                        </div>
                                    </div>


                                    <div class="sliders">
                                        <h3>First Album</h3>
                                        <div class="slider">
                                            <i class="black-text">from </i>
                                            <i id="minAlbumYear">1958</i>
                                            <input type="range" min="1958" max="2018" value="1958" name="minFirst"
                                                id="minAlbumSlider">
                                        </div>
                                        <div class="slider">
                                            <i class="black-text">to </i>
                                            <i id="maxAlbumYear">2018</i>
                                            <input type="range" min="1958" max="2018" value="2018" name="maxFirst"
                                                id="maxAlbumSlider">
                                        </div>
                                    </div>
                                </div>

                                <div id="members_nr">
                                    <fieldset>
                                        <i class="black-text">Number of members:</i>
                                        {{- $CheckboxNrs := .CheckboxNrs -}}
                                        {{- $MembersNumbers := .MembersNumbers -}}

                                        {{- range $nr := $CheckboxNrs -}}
                                        {{- $isChecked := false -}}
                                        {{- range $memberNr := $MembersNumbers -}}
                                        {{- if eq $nr $memberNr -}}
                                        {{- $isChecked = true -}}
                                        {{- break -}}
                                        {{- end -}}
                                        {{- end -}}
                                        <input type="checkbox" name="nr_members" value="{{$nr}}" id="{{$nr}}" {{if
                                            $isChecked}}checked{{end}}>
                                        <label for="{{$nr}}">{{$nr}}</label>
                                        {{- end -}}
                                    </fieldset>
                                </div>

                                <div id="locationFilter">
                                    <select id="locationSelect" name="location">
                                        <option value="" selected disabled>Location</option>
                                        {{range .LocationSlice}}
                                        <option value="{{.}}">{{.}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </form>

                            <div id="apply_button">
                                <input type="submit" form="filters-form" id="apply_filters" value="Apply Filters"
                                    formaction="/search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form action="/">
                <input type="submit" value="Reset">
            </form>
        </div>
    </main>
    <div class="result">
        {{if or .Query .FilterValuesSlice}}

        {{range .Results}}
        <div class="artist-card">
            <div class="card-container">
                <div class="front">
                    <img src="{{.ImageURL}}" alt="{{.Name}}">
                </div>
                <div class="back">
                    <h2><a href="/artist/{{.ID}}">{{.Name}}</a></h2>
                    <div class="artist-info">
                        <h3><a href="/artist/{{.ID}}" class="info-link">More info</a></h3>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
        {{else}}

        {{range .ArtistCards}}
        <div class="artist-card">
            <div class="card-container">
                <div class="front">
                    <img src="{{.ImageURL}}" alt="{{.Name}}">
                </div>
                <div class="back">
                    <h2><a href="/artist/{{.ID}}">{{.Name}}</a></h2>
                    <div class="artist-info">
                        <h3><a href="/artist/{{.ID}}" class="info-link">More info</a></h3>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
        {{end}}
    </div>
</body>
<script>
    function setupSlider(sliderId, outputId) {
        var slider = document.getElementById(sliderId);
        var output = document.getElementById(outputId);
        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    }
    setupSlider("minYearSlider", "minStartYear");
    setupSlider("maxYearSlider", "maxStartYear");
    setupSlider("minAlbumSlider", "minAlbumYear");
    setupSlider("maxAlbumSlider", "maxAlbumYear");

    document.getElementById("showCheckboxes").addEventListener("click", function () {
        var checkboxList = document.getElementById("checkboxList");
        if (checkboxList.style.display === "none" || checkboxList.style.display === "") {
            checkboxList.style.display = "grid"; // Show the list as a grid
            checkboxList.classList.add("grid"); // Apply the grid styling
        } else {
            checkboxList.style.display = "none"; // Hide the list
            checkboxList.classList.remove("grid"); // Remove the grid styling
        }
    });

</script>

</html>